@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&display=swap');
:root {
    --main-bg-color: #2874f0;
  }

*{
    padding: 0;
    margin: 0;
}

.progress{
    background-color: rgb(255, 8, 8);
    height: 3px;
    animation: load 2s ease-in-out 2;
}
@keyframes load {

    0%{
        width: 0;
    }
    50%{
        width: 60vw;
    }
    100%{
        width: 100vw;
    }
}



header{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    
}

nav{
    display: flex;
}

.logo{
    display:flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.all-cards .card-item img:hover{
    transform: scale(1.5);
    transform-origin: 2px;

}


.search{
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px ;
    padding-left: 17px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;

}

.slider{
    width: 80vw;
    margin: 12px 37px;
    overflow: hidden;

}


h2{
    font-family: 'Pacifico', cursive;
    padding-top: 29px;
    padding-bottom: 29px;


}

.card-item{
    display: flex;
    flex-direction: column;
    height: 311px;
    width: 241px;
    text-align: center;
    justify-content: center;
    margin: 0 31px;
    overflow: hidden;

}

.cricket{
    max-width: 91vw;
    margin: auto;



}

.all-cards{
    display: inline-flex;
    flex-direction: row;
    margin: 0 15px 0 15px;
    padding-top: 37px;
    justify-content: space-around;
    align-content: center;
    background:  rgb(232, 241, 135);
    padding-bottom: 37px;

}




.container{
    min-height: calc(100vh - 58px - 12vh);
}



footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}